Course Instructor: Bernd Neumayr, JKU

# UE04- SPARQL Updata and RDF Datasets

Complete the **8 tasks (1 point per task)** in the `3. SPARQL Update` sheet of `SemAI.jar` first and then transfer them to this notebook.

For each task include:
- A headline including the task number
- The task description 
- Your solution in executable form: your solutions for SemAI.jar will make use of the default grap. In this notebook you have to transform your solutions according to the workaround exemplified in V04_SPARQL_Update.ipynb
- After executing the update request, print a serizalization of the dataset in TriG format.  

**Task 9 (2 points)**  is to develop a nice visualization of RDF datasets using `visualize_graph_pyvis` from UE02 as a starting point. The requirements are as follows:
- Each named graph must be represented as an independent graph. This means, for example, that :Jane in :JanesGraph is a different node than :Jane in :BillsGraph. There are no edges between nodes in different graphs.
- It is not strictly necessary to draw a box around each named graph, as seen in the slides. The different named graphs should simply be visually distinguishable and not overlap.
- If not all nodes within a named graph are connected, make sure in the visualization that the named graph still forms a coherent visual unit in some way.

# Preparation

In [148]:
# Install required packages
!pip install -q rdflib 

# Imports
import pandas as pd
import rdflib
from rdflib import Graph, Literal, RDF, URIRef, BNode, Namespace


# Convenient Functions
def sparql_select(graph,query,use_prefixes=True):
  results = graph.query(query)          # execute the query against the graph, resulting in a rdflib.plugins.sparql.processor.SPARQLResult
  rows = []                             # a list of dictionaries, as intermediate format to construct the pandas DataFrame
  for result in results:                # iterate over the result set of the query, a result is an instance of rdflib.query.ResultRow
    row = {}                            #     create a dictionary to hold a single row of the result
    for var in results.vars:            #     iterate over the variables of the SPARQLResult to add a dictionary entry for each variable
      if (isinstance(result[var],URIRef) and use_prefixes):
        row[var] = result[var].n3(graph.namespace_manager)   # use namespace prefixes to shorten URIs
      else:
        row[var] = result[var]                  
    rows.append(row)                    #     add the dictionary (row) to the list 
  return pd.DataFrame(rows,columns=results.vars)        
                                        # return a pandas DataFrame constructed from the list of dictionaries, with the variables from the result set as columns      

g = rdflib.Graph()
g.parse(format="turtle", data="""
  prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
  prefix : <http://example.org/>
""")

ds = rdflib.Dataset()

# Task 1
Sie beginnen mit einem leeren Dataset. Fügen Sie in den Default Graph Statements ein, die sagen, dass :Peter der Autor von :G1 ist, und :Mary Autor von :G2.

In [149]:
g.update("""
INSERT DATA {
:G1 :author :Mary.
:G2 :author :Peter.
}
""")

print(g.serialize(format="trig"))

@prefix : <http://example.org/> .

_:N9fc31d1489df42a3ab03fe4682d2c980 {
    :G1 :author :Mary .

    :G2 :author :Peter .
}

# Task 2
Schreiben Sie { :Mary :knows :Peter, :John, :Mary. } in den Named Graph :G1 und { :Peter :knows :Mary. :John :knows :Mary. } in den Named Graph :G2.

In [150]:
ds.parse(format="trig", data="""
@prefix : <http://example.org/> .

:main {
  :G1 :author :Mary .
  :G2 :author :Peter .
}

""")

ds.update("""
INSERT DATA {
  GRAPH :G1 {
    :Mary :knows :Peter, :John, :Mary. 
  }
  GRAPH :G2 {
    :Peter :knows :Mary. 
   :John :knows :Mary.
  }
}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .

:main {
    :G1 :author :Mary .

    :G2 :author :Peter .
}

:G2 {
    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 3
Fragen Sie mittels INSERT-WHERE die :knows-Beziehungen aus :G2 ab und fügen deren inverse :knownBy-Beziehungen in den Default-Graph ein.
Ihr Update Request darf nicht enthalten: [Mary, Peter, John]

In [151]:
ds.update("""
INSERT {GRAPH :main{
?a :knownBy ?b . }}
WHERE{
GRAPH :G2
{?b :knows ?a .}}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .

:main {
    :G1 :author :Mary .

    :G2 :author :Peter .

    :Mary :knownBy :John,
            :Peter .
}

:G2 {
    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 4
Löschen Sie mittels DELETE-WHERE alle :knownBy-Beziehungen aus dem Default-Graph.
Ihr Update Request darf nicht enthalten: [Mary, Peter, John]

In [152]:
ds.update("""
DELETE WHERE{GRAPH :main{
?a :knownBy ?b . }}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .

:main {
    :G1 :author :Mary .

    :G2 :author :Peter .
}

:G2 {
    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 5
Ermitteln Sie mittels INSERT-WHERE zu jedem Named-Graph dessen Anzahl an Statements mit der Property :knows und schreiben Sie diese in den Default Graph.
Ihr Update Request darf nicht enthalten: [G1, G2]

In [153]:
ds.update("""
INSERT {GRAPH :main{
?a :knowsCount ?val . }
}
WHERE {

SELECT  ?a (COUNT(?f) AS ?val)
WHERE {
  GRAPH ?a{
    ?x :knows ?f .
     }
}
GROUP BY ?a
}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

:main {
    :G1 :author :Mary ;
        :knowsCount 3 .

    :G2 :author :Peter ;
        :knowsCount 2 .
}

:G2 {
    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 6
Ermitteln Sie mittels INSERT-WHERE die Anzahl an Named Graphs und schreiben Sie sie in den Default Graph.
Ihr Update Request darf nicht enthalten: [2]

In [154]:
ds.update("""
INSERT {GRAPH :main{
:ds :graphCount ?val .}
}
WHERE {
SELECT (COUNT(DISTINCT ?f) AS ?val)
WHERE {
GRAPH ?f {
  ?s ?p ?o
}
}
}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

:main {
    :G1 :author :Mary ;
        :knowsCount 3 .

    :G2 :author :Peter ;
        :knowsCount 2 .

    :ds :graphCount 3 .
}

:G2 {
    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 7
Verschieben Sie mittels DELETE-INSERT-WHERE alle Metadaten zu Named Graphs (also Statements die einen Named Graph als Subjekt haben) in den entsprechenden Named Graph.
Ihr Update Request darf nicht enthalten: [G1, G2]

In [155]:
ds.update("""
DELETE {GRAPH :main{
?graph ?x ?y .}
}
INSERT {
GRAPH ?graph{
?graph ?x ?y .
}
}
WHERE {
GRAPH ?graph {}
GRAPH :main {?graph ?x ?y .}
}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

:main {
    :ds :graphCount 3 .
}

:G2 {
    :G2 :author :Peter ;
        :knowsCount 2 .

    :John :knows :Mary .

    :Peter :knows :Mary .
}

:G1 {
    :G1 :author :Mary ;
        :knowsCount 3 .

    :Mary :knows :John,
            :Mary,
            :Peter .
}

# Task 8
Schreiben Sie in jeden Named Graph ein Statement, dass der Autor des jeweiligen Named Graphs die :Susi kennt und aktualisieren Sie mit dem selben UpdateRequest den knowsCount.
Ihr Update Request darf nicht enthalten: [Peter, Mary]

In [156]:
ds.update("""
DELETE{
GRAPH ?graph{
?graph :knowsCount ?oldval .
}}
INSERT {
GRAPH ?graph{
?author :knows :Susi .
?graph :knowsCount ?val .
}
}
WHERE {
GRAPH ?graph{
?graph :author ?author .
?graph :knowsCount ?oldval .
BIND (?oldval +1 AS ?val )
}
}

""")

print(ds.serialize(format="trig"))

@prefix : <http://example.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

:main {
    :ds :graphCount 3 .
}

:G2 {
    :G2 :author :Peter ;
        :knowsCount 3 .

    :John :knows :Mary .

    :Peter :knows :Mary,
            :Susi .
}

:G1 {
    :G1 :author :Mary ;
        :knowsCount 4 .

    :Mary :knows :John,
            :Mary,
            :Peter,
            :Susi .
}

# Task 9
Task 9 (2 points) is to develop a nice visualization of RDF datasets using visualize_graph_pyvis from UE02 as a starting point. The requirements are as follows:

Each named graph must be represented as an independent graph. This means, for example, that :Jane in :JanesGraph is a different node than :Jane in :BillsGraph. There are no edges between nodes in different graphs.

It is not strictly necessary to draw a box around each named graph, as seen in the slides. The different named graphs should simply be visually distinguishable and not overlap.

If not all nodes within a named graph are connected, make sure in the visualization that the named graph still forms a coherent visual unit in some way.